<div class="head">
  <div class="avatar">
    <%= render 'microposts/avatar_display', micropost: micropost %>
  </div>
  <div class="user-name">
    <%= link_to micropost.user.name, micropost.user %>
  </div>
  <div class="timestamp">
    <%= micropost.created_at %>
    <!--<%= time_ago_in_words(micropost.created_at) %>-->
  </div>
  <%= render 'shared/setting_post', micropost: micropost %>
</div>
<div class="content">
  <div class="micropost-content">
    <% if micropost.content.length != 0 %>
      <div class="text-content">
        <%= micropost.content %>
      </div>
    <% end %>
    <div class="tag-lists">
      <% micropost.tag_list.each do |tag| %>
        <div class="tag"><%= tag %></div>
      <% end %>
    </div>
  </div>
  <div class="image-content" style="text-align: center;width:100%;margin-bottom: 15px;margin-top: 15px;">
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </div>
  <div style="float: left;margin: 0 10px 0 20px;font-size: 25px;">
    <%= render 'microposts/like_form', micropost: micropost %>
  </div>
  <div class="number-like" id="number-like-<%= micropost.id %>" style="float: left;margin-top: 8px;">
    <%= micropost.likes.count %> <%= "like".pluralize(micropost.likes.count) %>
  </div>
</div>
<div class="comment-section">
  <div class="comments-list">
    <!--<%= render 'microposts/like_form', micropost: micropost %>-->
    <%= render 'microposts/comments_list', micropost: micropost %>
  </div>
  <div class="comment-form">

    <%= render 'microposts/comment_form', micropost: micropost %>
  </div>
</div>